name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - dev
      - main

jobs:
  secret-scan:
    name: Gitleaks Secret Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-path: .gitleaks.toml
          fail: true

  sql-scan:
    name: SQLCheck Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run SQLCheck
        uses: yokawasa/action-sqlcheck@v1.4.0
        with:
          post-comment: true
          risk-level: 3
          verbose: false
          # NOTE: Add directories to check all files, PR only by defaut
          token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Tests and Static Analysis
    runs-on: ubuntu-latest
    needs: [secret-scan, sql-scan]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          poetry lock
          poetry install --no-interaction --no-ansi

      - name: Run Ruff linter
        run: poetry run ruff check src tests

      - name: Run Bandit security scan
        run: poetry run bandit -c pyproject.toml -r -ll .

      - name: Run Pytest
        run: poetry run pytest -q

      - name: Run Mypy type check
        run: poetry run mypy src/ tests/
