name: Docker Build

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          file: docker/Dockerfile
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/conference:${{ github.event.workflow_run.head_branch == 'main' && 'latest' || 'dev' }}
            ${{ secrets.DOCKER_USERNAME }}/conference:${{ github.event.workflow_run.head_sha }}
